.primary-color,
.btn.btn-primary.btn-link,
.btn.btn-primary.btn-o:not(:hover),
.btn.btn-white,
.card .card-header a .zmdi,
.styled-list li:before,
.main-header .header-info-item .icon-box i,
.services-area.style-one .icon i,
.services-area.style-four .service-single .icon,
.service-detail .service-box .icon,
.pricing-area.style-one .pricing-table .pricing-table-title,
.faq-area.style-one .faq-question .faq-question-num,
.faq-area .skill-single .progress-bar,
.comments .comments-list .comment .comment-reply-link {
	color: #0e9df4;
}

.primary-hover-color,
a:hover,
a:focus,
.btn.btn-primary.btn-link:hover,
.btn.btn-primary.btn-link:focus,
.btn.btn-primary.btn-link:active,
.pricing-area.style-two .pricing-box a:hover,
.pricing-area.style-two .pricing-box a:focus,
.pricing-area.style-two .pricing-box a:active {
	color: #0a8ede;
}

.primary-bg,
.btn.btn-primary,
.checkbox-styled:checked+label:before,
.dash,
.card .card-header a .zmdi-minus,
.pagination .next,
.pagination .prev,
.sidebar .widget-category ul li.current a,
.sidebar .widget-category ul li a:hover,
.sidebar .widget-question,
.pricing-area.style-two .pricing-box,
.call-action-area.style-two h2:after,
.blog-area.latest-news .entry-date,
.sidebar .widget-title:before,
.sidebar .sidebar-list li a:before,
.comments .comments-header .comments-title span {
	background-color: #0e9df4;
}

.primary-hover-bg,
.btn.btn-primary:not([disabled]):not(.disabled):hover,
.btn.btn-white:not([disabled]):not(.disabled):hover,
.btn.btn-primary:not([disabled]):not(.disabled):focus,
.btn.btn-white:not([disabled]):not(.disabled):focus,
.btn.btn-primary:not([disabled]):not(.disabled):active,
.btn.btn-white:not([disabled]):not(.disabled):active {
	background-color: #0a8ede;
}

.primary-alpha-3-bg,
.comments .comments-list .comment .comment-reply-link {
	background-color: rgba(14, 157, 244, 0.3);
}

.primary-border,
.btn.btn-primary,
.main-header .header-info-item .icon-box,
.business-area.style-two .business-footer {
	border-color: #0e9df4;
}

.primary-hover-border,
.btn.btn-primary:not([disabled]):not(.disabled):hover,
.btn.btn-white:not([disabled]):not(.disabled):hover,
.btn.btn-primary:not([disabled]):not(.disabled):focus,
.btn.btn-white:not([disabled]):not(.disabled):focus,
.btn.btn-primary:not([disabled]):not(.disabled):active,
.btn.btn-white:not([disabled]):not(.disabled):active {
	border-color: #0a8ede;
}