/*-------------------------------------------------*/
/* FONTS
/*-------------------------------------------------*/

.body-font-family,
body,
.header-top-area.style-two .header-top-left li a {
  font-family: "Poppins", Arial, sans-serif;
}

.heading-font-family,
.form-control,
.header-top-area.style-one,
.team-area.style-two .team-single .team-img .img-content p,
.sidebar .widget-category ul {
  font-family: "Josefin Sans", Arial, sans-serif;
}


/*-------------------------------------------------*/
/* COLORS
/*-------------------------------------------------*/

.body-color,
body {
  color: #606060;
}

.heading-color,
a,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.header-area .nav-menu>li>a,
.pricing-area.style-one .pricing-table .pricing-table-price,
.footer-area.style-four .footer-widgets .social-list li i {
  color: #222;
}

.white-color,
.btn.btn-primary,
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white:active,
.btn.btn-white.btn-o:not(:hover),
.social-list li a i,
#body .card .card-header a .zmdi-minus,
.pagination .next,
.pagination .prev,
.header-top-area.style-one a:hover,
.header-area.style-four .nav-menu>li>a,
.hero-area,
.hero-area h2,
.hero-area p,
.team-area.style-two .team-single .team-img .img-content p,
.team-area.style-two .team-single .team-img .img-content p a,
.sidebar .widget-category ul li.current a,
.sidebar .widget-category ul li a:hover,
.sidebar .widget-question h5,
.sidebar .widget-question h3,
.pricing-area.style-two .pricing-box h2,
.pricing-area.style-two .pricing-box h5,
.pricing-area.style-two .pricing-box h4,
.pricing-area.style-two .pricing-box li,
.pricing-area.style-two .pricing-box a,
.pricing-area.style-two .pricing-box a:hover,
.testimonials-area.style-two,
.testimonials-area.style-two .testimonials-box .testimonials-img h5,
.video-area.style-one h2,
.video-area.style-two h2,
.testimonials-area.style-two .testimonial-name,
.stats-area i,
.stats-area h4,
.stats-area .timer,
.partners-area.style-two .h1,
.breadcrumb-area.style-two a:hover,
.skills-area .h1,
.skills-area p,
.skills-area .progress-bar,
.skills-area .skill-bar-item>h6,
.skills-area .progress span.text-top,
.blog-area.latest-news .entry-date,
.blog-area.latest-news .entry-date h5,
.share-list li a,
.sidebar .tweets-widget .widget-body,
.sidebar .tweets-widget h4,
.sidebar .tweets-widget a,
.comments .comments-header .comments-title span,
.comments .comments-list .comment .comment-reply-link:hover,
.footer-area.style-one .footer-title,
.footer-area.style-four .footer-widgets h2,
.footer-area.style-four .footer-widgets .social-list li i:hover {
  color: #fff;
}

.white-alpha-1-color {
  color: rgba(255, 255, 255, 0.1);
}

.white-alpha-2-color {
  color: rgba(255, 255, 255, 0.2);
}

.white-alpha-3-color {
  color: rgba(255, 255, 255, 0.3);
}

.white-alpha-4-color {
  color: rgba(255, 255, 255, 0.4);
}

.white-alpha-5-color {
  color: rgba(255, 255, 255, 0.5);
}

.white-alpha-6-color {
  color: rgba(255, 255, 255, 0.6);
}

.white-alpha-7-color {
  color: rgba(255, 255, 255, 0.7);
}

.white-alpha-8-color,
.header-top-area.style-one a,
.footer-area.style-one,
.footer-area.style-one a,
.footer-area.style-four a {
  color: rgba(255, 255, 255, 0.8);
}

.white-alpha-9-color,
.footer-area.style-one a:hover,
.footer-area.style-four a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.black-color {
  color: #000;
}

.black-one-color,
.main-header .header-info-item h4,
.comments .comments-list .comment .comment-name {
  color: #222;
}

.black-two-color,
.card .card-header,
.skills-area .progress {
  color: #333;
}

.gray-one-color,
.checkbox-styled:disabled+label,
.business-area.style-two span,
.team-area.style-one .single-team .h5 span,
.team-area.style-three .h5 span,
.testimonials-area.style-one .testimonial-single .testimonial-footer .customer-info span,
.video-area.style-two p,
.blog-area.classic-blog .entry .entry-meta li a,
.sidebar .recent-posts-widget span,
.sidebar .recent-comments-widget span,
.comments .comments-list .comment .comment-date,
.footer-area.style-two,
.footer-area.style-three .footer-widgets,
.footer-area.style-three .footer-widgets .footer-description,
.footer-area.style-three .footer-widgets .widget .links-list li a,
.footer-area.style-four {
  color: #8d97ad;
}

.gray-two-color,
.form-control.input-gray,
.portfolio-single .project-detail-list li {
  color: #535353;
}

.gray-three-color,
.header-top-area.style-two .header-top-left li a,
.testimonials-area.style-one .testimonial-single .testimonial-body h6,
.testimonials-area.style-two .testimonials-box .testimonials-text {
  color: #616973;
}


/*-------------------------------------------------*/


/* BACKGROUNDS
/*-------------------------------------------------*/

.transparent-bg,
.btn.btn-o:not(:hover),
.owl-carousel.owl-theme .owl-nav .owl-next,
.owl-carousel.owl-theme .owl-nav .owl-prev,
.footer-area.style-four .footer-widgets .social-list li i:hover {
  background-color: transparent;
}

.white-bg,
body,
.btn.btn-white,
.form-control,
.checkbox-styled+label::before,
.checkbox-styled:checked+label:after,
.card .card-header a,
.services-area.style-one .icon,
.services-area.style-two .service-single,
.services-area.style-four .service-single,
.sidebar .widget-category ul li.current a::before,
.sidebar .widget-category ul li a:hover::before,
.pricing-area.style-two .pricing-box a:hover,
.pricing-area.style-two .pricing-box a:focus,
.pricing-area.style-two .pricing-box a:active,
.testimonials-area.style-one .testimonial-single .testimonial-body,
.testimonials-area.style-two .testimonials-box .testimonials-text,
.breadcrumb-area.style-two .search-form .search-input,
.faq-area.style-two .faq-box,
.contact-area.style-one .contact-wrap,
.skills-area .progress-bar,
.skills-area .progress-bar:after,
.error-page-area .not-found-wrapper,
.footer-area.style-four .footer-widgets .social-list li i {
  background-color: #fff;
}

.black-bg {
  background-color: #000;
}

.black-one-bg,
.header-area.black-header,
.comments .comments-list .comment .comment-reply-link:hover,
.footer-area.style-two,
.footer-area.style-four {
  background-color: #1d1d1b;
}

.black-two-color,
.card .card-header,
.skills-area .progress {
  color: #666;
}

.black-alpha-05-bg,
.pricing-area.style-two .pricing-box ul {
  background-color: rgba(0, 0, 0, 0.05);
}

.black-alpha-1-bg {
  background-color: rgba(0, 0, 0, 0.1);
}

.black-alpha-2-bg,
.img-wrap.overlay-bg-effect:before {
  background-color: rgba(0, 0, 0, 0.2);
}

.black-alpha-3-bg,
.footer-area.style-three .footer-widgets .social-list li a i {
  background-color: rgba(0, 0, 0, 0.3);
}

.black-alpha-4-bg,
.footer-area.style-three .footer-widgets .social-list li a:hover i {
  background-color: rgba(0, 0, 0, 0.4);
}

.black-alpha-5-bg,
.portfolio-area .portfolio-single .portfolio-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.black-alpha-6-bg {
  background-color: rgba(0, 0, 0, 0.6);
}

.black-alpha-7-bg {
  background-color: rgba(0, 0, 0, 0.7);
}

.black-alpha-8-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.black-alpha-9-bg {
  background-color: rgba(0, 0, 0, 0.9);
}

.gray-one-bg,
.gray-bg,
.card .card-header,
.features-area .feature-icon,
.faq-area .skill-single,
.sidebar .search-form input[type="text"] {
  background-color: #f5f6f9;
}

.gray-two-bg,
.form-control.input-gray,
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f0f3f4;
}

.gray-three-bg,
.checkbox-styled:disabled+label:before {
  background-color: #ddd;
}

.denim-bg,
.header-top-area.style-one,
.sidebar .widget-category ul li a:before,
.video-area.style-two,
.footer-area.style-one {
  background-color: #343a40;
}

.gradient-one-bg {
  background: #00c4cc;
  background: linear-gradient(135deg, #00c4cc 25%, #016BC0 75%);
  background-attachment: fixed;
}


/*-------------------------------------------------*/
/* BORDER COLORS
/*-------------------------------------------------*/

.header-one .submenu-indicator-chevron {
  border-color: #222;
}

.white-border,
.btn.btn-white,
.pricing-area.style-two .pricing-box a,
.footer-area.style-four .footer-widgets .social-list li i {
  border-color: #fff;
}

.transparent-border,
.form-control.no-border,
.form-control.no-border:focus,
.checkbox-styled:checked+label:before {
  border-color: transparent;
}

.black-alpha-05-border,
.main-header,
.footer-area.style-three .footer-widgets {
  border-color: rgba(0, 0, 0, 0.05);
}

.black-alpha-1-border,
.service-detail .service-box .icon,
.sidebar .widget-category ul,
.sidebar .widget-category ul li,
.sidebar .widget-testimonials,
.sidebar .widget-brochure,
.comments .comments-header,
.comments .comments-list .comment,
.leave-comment .leave-comment-title {
  border-color: rgba(0, 0, 0, 0.1);
}

.black-alpha-2-border {
  border-color: rgba(0, 0, 0, 0.2);
}

.black-alpha-3-border {
  border-color: rgba(0, 0, 0, 0.3);
}

.black-alpha-4-border {
  border-color: rgba(0, 0, 0, 0.4);
}

.black-alpha-5-border {
  border-color: rgba(0, 0, 0, 0.5);
}

.black-alpha-6-border {
  border-color: rgba(0, 0, 0, 0.6);
}

.black-alpha-7-border {
  border-color: rgba(0, 0, 0, 0.7);
}

.black-alpha-8-border {
  border-color: rgba(0, 0, 0, 0.8);
}

.black-alpha-9-border {
  border-color: rgba(0, 0, 0, 0.9);
}

.white-alpha-05-border {
  border-color: rgba(255, 255, 255, 0.05);
}

.white-alpha-1-border,
.footer-area.style-four .footer-widgets {
  border-color: rgba(255, 255, 255, 0.1);
}

.white-alpha-2-border {
  border-color: rgba(255, 255, 255, 0.2);
}

.white-alpha-3-border {
  border-color: rgba(255, 255, 255, 0.3);
}

.white-alpha-4-border {
  border-color: rgba(255, 255, 255, 0.4);
}

.white-alpha-5-border,
.sidebar .tweets-widget h4 {
  border-color: rgba(255, 255, 255, 0.5);
}

.white-alpha-6-border {
  border-color: rgba(255, 255, 255, 0.6);
}

.white-alpha-7-border {
  border-color: rgba(255, 255, 255, 0.7);
}

.white-alpha-8-border {
  border-color: rgba(255, 255, 255, 0.8);
}

.white-alpha-9-border {
  border-color: rgba(255, 255, 255, 0.9);
}

.gray-one-border,
.form-control,
.header-area.style-two,
.features-two .feature-single-wrap:not(:first-child),
.pricing-area.style-one .pricing-table {
  border-color: #ddd;
}

.gray-two-border,
.checkbox-styled+label::before {
  border-color: #f0f3f4;
}

.gray-three-border,
.form-control:focus,
.footer-area.style-one .footer-widgets {
  border-color: #ccc;
}

.gray-four-border,
.header-top-area.style-two,
.header-top-area.style-two .header-top-left li,
.pricing-area.style-two .pricing-box h5 {
  border-color: #eee;
}

.red-border-border,
.form-control.input-error {
  border-color: #f00;
}