/*-------------------------------------------------*/
/* TABLE OF CONTENTS */
/* --------------------
    01. RESET & TYPOGRAPHY
    02. FORM ELEMETS
    03. COMPONENTS
    04. LAYOUT CLASSES
/*-------------------------------------------------*/

@charset "utf-8";

/*-------------------------------------------------*/
/* RESET & TYPOGRAPHY
/*-------------------------------------------------*/

html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;
    position: relative;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    letter-spacing: 0.3px;
    overflow-x: hidden;
    overflow-scrolling: touch;
    -webkit-font-kerning: auto;
            font-kerning: auto;
}

body,
input,
textarea {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:focus,
*:active,
a:link,
a:hover,
a:visited {
    outline: none;
    outline-offset: 0;
}

a:hover,
a:focus {
    text-decoration: none;
}

a,
button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    -webkit-transition: all 400ms linear 0;
    transition: all 400ms linear 0;
}

select,
button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


/* Remove chrome yellow autofill */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
}


/* Rurn off number spinners */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
    margin: 0;
}


/* Reset search styling */

input[type="search"] {
    outline: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
    letter-spacing: 0;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
.h1:last-child,
.h2:last-child,
.h3:last-child,
.h4:last-child,
.h5:last-child,
.h6:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 400;
    font-family: "Josefin Sans", Arial, sans-serif;
}

h1,
h2,
.h1,
.h2 {
    letter-spacing: -1px;
}

h1,
.h1 {
    font-size: 30px;
    line-height: 1.35em;
}

h2,
.h2 {
    font-size: 24px;
    line-height: 1.45em;
}

h3,
.h3 {
    font-size: 22px;
    line-height: 1.5em;
}

h4,
.h4 {
    font-size: 20px;
    line-height: 1.55em;
}

h5,
.h5 {
    font-size: 18px;
    line-height: 1.6em;
}

h6,
.h6 {
    font-size: 16px;
    line-height: 1.7em;
}

b,
strong {
    font-weight: bold;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    border: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    user-drag: none;
    -ms-interpolation-mode: bicubic;
}

img::selection,
img::-webkit-selection,
img::-moz-selection {
    background: transparent;
}

.flex-auto img,
.col-auto img {
    max-width: none;
}

figure {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0;
}

iframe {
    border: none;
    width: 100%;
}

video,
audio {
    width: 100%;
    height: auto;
}

section {
    position: relative;
}

label {
    display: inline-block;
    margin-bottom: .6rem;
    font-size: 0.8rem;
    font-weight: 600;
}

q {
    display: inline-block;
}


/*-------------------------------------------------*/
/* FORM ELEMETS
/*-------------------------------------------------*/

.btn {
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 700;
    letter-spacing: 1px;
    height: 42px;
    line-height: 38px;
    padding: 0 25px;
    font-size: 14px;
    border-width: 2px;
    border-style: solid;
    vertical-align: middle;
    -webkit-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.btn.btn-primary.btn-link {
    background-color: transparent;
    border-width: 0;
    height: auto;
    line-height: inherit;
    padding: 0;
    letter-spacing: 1px;
}

.btn.btn-primary.btn-link:hover {
    text-decoration: none;
    background-color: transparent;
}

.btn.btn-rounded {
    border-radius: 999px;
}

.btn.btn-arrow:after {
    content: "\f2ee";
    display: inline-block;
    font-family: 'Material-Design-Iconic-Font';
    font-size: 1.1em;
    margin-left: 10px;
    vertical-align: -1px;
}

.btn.btn-lg {
    height: 46px;
    line-height: 42px;
    padding: 0 35px;
}

.btn.btn-lg:not(:last-child) {
    margin-right: 30px;
}

.btn.btn-sm {
    font-size: 13px;
    height: 36px;
    line-height: 32px;
    padding: 0 20px;
}

.btn.btn-sm:not(:last-child) {
    margin-right: 10px;
}

.btn.btn-xs {
    font-size: 12px;
    height: 30px;
    line-height: 26px;
    padding: 0 15px;
}

.btn.btn-xs:not(:last-child) {
    margin-right: 5px;
}

.form-control {
    padding: 9px 13px;
    border-radius: 0;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: none;
            box-shadow: none;
    vertical-align: middle;
    -webkit-transition: all ease-in-out 150ms;
    transition: all ease-in-out 150ms;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control:-moz-placeholder {
    color: #999;
}

.form-control::-moz-placeholder {
    color: #999;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

select.form-control {
    height: 41px;
    background-image: url("https://webiz-theme-codastroid.firebaseapp.com/assets/images/icons/select-arrow.png");
    background-repeat: no-repeat;
    background-position: right 12px center;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

textarea.form-control {
    height: auto;
    resize: none;
}

.form-group {
    margin-bottom: 1.25rem;
}

.form-group-lg .input-lg,
.input-lg,
select.input-lg,
.form-group-lg .form-control,
.form-group-lg select.form-control {
    padding: 11px 15px;
    font-size: 14px;
}

.form-group-sm .input-sm,
.input-sm,
select.input-sm,
.form-group-sm .form-control,
.form-group-sm select.form-control {
    padding: 7px 9px;
    font-size: 13px;
}

.input-group .input-group-append {
    margin-left: -1px;
    z-index: 2;
}

.input-group .btn {
    margin-top: 0;
}

.checkbox-styled {
    position: absolute;
    opacity: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.checkbox-styled+label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-weight: 200;
    margin-right: 5px;
}

.checkbox-styled+label::before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
}

.checkbox-styled+label span {
    position: relative;
    top: 2px;
}

.checkbox-styled:checked+label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 13px;
    width: 2px;
    height: 2px;
    -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            box-shadow: 2px 0 0 white, 4px 0 0 white 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.checkbox-styled:disabled+label {
    cursor: auto;
}

.checkbox-styled:disabled+label:before {
    -webkit-box-shadow: none;
            box-shadow: none;
}


/*-------------------------------------------------*/
/* COMPONENTS
/*-------------------------------------------------*/

.alert {
    border-radius: 0;
}

.icon {
    display: inline-block;
}

.icon>i {
    display: table;
    line-height: 1;
    height: 100%;
    width: 100%;
    table-layout: fixed;
}

.icon>i:before {
    display: table-cell;
    vertical-align: middle;
}

.lead {
    font-size: 16px;
    font-weight: 500;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.overlay+* {
    position: relative;
    z-index: 1;
}

.dash {
    display: block;
    width: 60px;
    height: 3px;
    margin: 25px 0;
}

.social-list {
    /*margin-right: -10px;*/
    margin: 0px auto;
}

.social-list li {
    display: inline-block;
    margin-right: 10px;
}

.social-list li a i {
    display: inline-block;
    font-size: 18px;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
}

.social-list .social-rounded li a i {
    border-radius: 3px;
}

.social-list .social-rounded-circle li a i {
    border-radius: 999px;
}

.social-list [class*="facebook"] {
    /*background-color: #3b5998;*/
    background-color: none;
}

.social-list [class*="facebook"]:hover {
    background-color: #344e86;
}

.social-list [class*="twitter"] {
    /*background-color: #1da1f2;*/
    background-color: none;

}

.social-list [class*="twitter"]:hover {
    background-color: #0d95e8;
}

.social-list [class*="google-plus"] {
    background-color: #dd4b39;

}

.social-list [class*="google-plus"]:hover {
    background-color: #d73925;
}

.social-list [class*="instagram"] {
    /*background-color: #32659d;*/
    background-color: none;

}

.social-list [class*="instagram"]:hover {
    background-color: #2c598a;

}

.social-list [class*="linkedin"] {
    /*background-color: #0077b5;*/
    background-color: none;
}

.social-list [class*="linkedin"]:hover {
    background-color: #00669c;
}

.social-list [class*="pinterest"] {
    background-color: #bd081c;
}

.social-list [class*="pinterest"]:hover {
    background-color: #a50718;
}

.social-list [class*="github"] {
    background-color: #333;
}

.social-list [class*="github"]:hover {
    background-color: #262626;
}

.social-list [class*="youtube"] {
    background-color: #ff0000;
}

.social-list [class*="youtube"]:hover {
    background-color: #e60000;
}

.social-list [class*="android"] {
    background-color: #a4c639;
}

.social-list [class*="android"]:hover {
    background-color: #94b233;
}

.social-list [class*="behance"] {
    background-color: #1769ff;
}

.social-list [class*="behance"]:hover {
    background-color: #0059fd;
}

.social-list [class*="blogger"] {
    background-color: #f57d00;
}

.social-list [class*="blogger"]:hover {
    background-color: #dc7000;
}

.social-list [class*="dribbble"] {
    background-color: #ea4c89;
}

.social-list [class*="dribbble"]:hover {
    background-color: #e7357a;
}

.social-list [class*="delicious"] {
    background-color: #3399ff;
}

.social-list [class*="delicious"]:hover {
    background-color: #1a8cff;
}

.social-list [class*="flipboard"] {
    background-color: #e12828;
}

.social-list [class*="flipboard"]:hover {
    background-color: #d21d1d;
}

.social-list [class*="snapchat"] {
    background-color: #fffc00;
}

.social-list [class*="snapchat"]:hover {
    background-color: #e6e300;
}

.social-list [class*="skype"] {
    background-color: #00aff0;
}

.social-list [class*="skype"]:hover {
    background-color: #009cd7;
}

.social-list [class*="whatsapp"] {
    background-color: #25d366;
}

.social-list [class*="whatsapp"]:hover {
    background-color: #21bd5c;
}

.owl-carousel.owl-theme .owl-nav .owl-next,
.owl-carousel.owl-theme .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    font-size: 32px;
    padding: 0;
    line-height: 0;
}

.owl-carousel.owl-theme .owl-nav .owl-next {
    right: 0;
}

.owl-carousel.owl-theme .owl-nav .owl-prev {
    left: 0;
}

.owl-carousel .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item,
.owl-carousel .slider-item {
    height: 100%;
}

.owl-carousel .slider-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.alignleft {
    clear: both;
    display: inline;
    float: left;
    margin-right: 50px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 50px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.section-header {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.card {
    border-radius: 0px;
    border: 0;
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
            box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    margin-top: 10px;
}

.card:first-child {
    margin-top: 0px;
}

.card .card-header {
    padding: 0;
    border-radius: 0px;
    border-bottom: 0;
}

.card .card-header a {
    line-height: 1.8em;
    padding: 10px 12px;
    display: block;
    font-size: 16px;
    color: #242424;
    letter-spacing: 0;
}

.card .card-header a .zmdi {
    height: 20px;
    width: 20px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
}

.card .card-header a .zmdi-plus {
    display: none;
}

.card .card-header a.collapsed .zmdi-plus {
    display: inline-block;
}

.card .card-header a.collapsed .zmdi-minus {
    display: none;
}

.card .card-body {
    padding: 10px 10px 20px 58px;
}

.img-wrap {
    position: relative;
}

.img-wrap img {
    -webkit-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.img-wrap.overlay-bg-effect:before {
    -webkit-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
}

.img-wrap.overlay-bg-effect:hover:before {
    opacity: 1;
}

.img-wrap.zoom-effect:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

.pagination {
    display: block;
    position: relative;
    padding-top: 4px;
    min-height: 43px;
    clear: both;
    text-align: center;
}

.pagination .page-numbers {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.pagination .page-numbers:not(:last-child) {
    margin-right: 10px;
}

.pagination .current {
    background-color: rgba(94, 94, 94, 0.15);
}

.pagination .next,
.pagination .prev {
    min-width: 100px;
    padding: 0 25px;
}


/*-------------------------------------------------*/
/* LAYOUT CLASSES
/*-------------------------------------------------*/

.page-wrapper {
    position: relative;
}

.container {
    padding-right: 30px;
    padding-left: 30px;
}

.hide {
    display: none;
}

@media (max-width: 575px) {
    .hide-xs {
        display: none;
    }
}

@media (min-width: 576px) {
    .hide-sm-up {
        display: none;
    }
}

@media (max-width: 767px) {
    .hide-sm-down {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .hide-sm {
        display: none;
    }
}

@media (min-width: 768px) {
    .hide-md-up {
        display: none;
    }
}

@media (max-width: 991px) {
    .hide-md-down {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hide-md {
        display: none;
    }
}

@media (min-width: 992px) {
    .hide-lg-up {
        display: none;
    }
}

@media (max-width: 1199px) {
    .hide-lg-down {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hide-lg {
        display: none;
    }
}

@media (min-width: 1200px) {
    .hide-xl {
        display: none;
    }
}

.row.gutter-rl-0 {
    margin-right: 0px;
    margin-left: 0px;
}

.row.gutter-rl-0>[class*="col"] {
    padding-right: 0px;
    padding-left: 0px;
}

.row.gutter-rl-5 {
    margin-left: -10px;
}

.row.gutter-rl-5>[class*="col"] {
    padding-left: 10px;
}

.row.gutter-rl-10 {
    margin-left: -20px;
}

.row.gutter-rl-10>[class*="col"] {
    padding-left: 20px;
}

.row.gutter-rl-20 {
    margin-left: -40px;
}

.row.gutter-rl-20>[class*="col"] {
    padding-left: 40px;
}

.row.gutter-rl-30 {
    margin-left: -60px;
}

.row.gutter-rl-30>[class*="col"] {
    padding-left: 60px;
}

.row.gutter-tb-0 {
    margin-top: 0;
}

.row.gutter-tb-0>[class*="col"] {
    padding-top: 0;
}

.row.gutter-tb-5 {
    margin-top: -10px;
}

.row.gutter-tb-5>[class*="col"] {
    padding-top: 10px;
}

.row.gutter-tb-10 {
    margin-top: -20px;
}

.row.gutter-tb-10>[class*="col"] {
    padding-top: 20px;
    padding-bottom: 0;
}

.row.gutter-tb-15 {
    margin-top: -30px;
}

.row.gutter-tb-15>[class*="col"] {
    padding-top: 30px;
    padding-bottom: 0;
}

.row.gutter-tb-20 {
    margin-top: -40px;
    margin-bottom: 0;
}

.row.gutter-tb-20>[class*="col"] {
    padding-top: 40px;
    padding-bottom: 0;
}

.row.gutter-tb-25 {
    margin-top: -50px;
}

.row.gutter-tb-25>[class*="col"] {
    padding-top: 50px;
}

.row.gutter-tb-30 {
    margin-top: -60px;
}

.row.gutter-tb-30>[class*="col"] {
    padding-top: 60px;
}

.row.gutter-tb-35 {
    margin-top: -70px;
}

.row.gutter-tb-35>[class*="col"] {
    padding-top: 70px;
}

.row.gutter-tb-40 {
    margin-top: -80px;
}

.row.gutter-tb-40>[class*="col"] {
    padding-top: 80px;
}

.col-center {
    margin-left: auto;
    margin-right: auto;
}

[class*="space-"] {
    display: block;
    width: 100%;
}

.space-5 {
    height: 5px;
}

.space-10 {
    height: 10px;
}

.space-15 {
    height: 15px;
}

.space-20 {
    height: 20px;
}

.space-25 {
    height: 25px;
}

.space-30 {
    height: 30px;
}

.space-35 {
    height: 35px;
}

.space-40 {
    height: 40px;
}

.space-45 {
    height: 45px;
}

.space-50 {
    height: 50px;
}

.space-55 {
    height: 55px;
}

.space-60 {
    height: 60px;
}

.space-65 {
    height: 65px;
}

.space-70 {
    height: 70px;
}

.space-75 {
    height: 75px;
}

.space-80 {
    height: 80px;
}

.space-85 {
    height: 85px;
}

.space-90 {
    height: 90px;
}

.space-95 {
    height: 95px;
}

.space-100 {
    height: 100px;
}


/*-------------------------------------------------*/
/* HELPER CLASSES
/*-------------------------------------------------*/

.text-nodecor {
    text-decoration: none;
}

.text-underline {
    text-decoration: none;
}

.align-baseline {
    vertical-align: baseline;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}

.wh-100 {
    height: 100%;
    width: 100%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-fit {
    max-width: 100%;
}

.no-bg {
    background: transparent none;
}

.bg-cover,
*[data-bg-img] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-cc {
    background-position: center center;
}

.bg-rc {
    background-position: right center;
}

.bg-lc {
    background-position: left center;
}

.bg-ct {
    background-position: center top;
}

.bg-rt {
    background-position: right top;
}

.bg-lt {
    background-position: left top;
}

.bg-cb {
    background-position: center bottom;
}

.bg-rb {
    background-position: right bottom;
}

.bg-lb {
    background-position: left bottom;
}

.unordered-list,
.ordered-list {
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
}

.unordered-list li,
.ordered-list li {
    padding: 2px 0;
    list-style-position: inside;
}

.unordered-list {
    list-style-type: disc;
}

.ordered-list {
    list-style-type: decimal;
}

.styled-list {
    padding-left: 0;
}

.styled-list li {
    list-style: none;
    line-height: 2.4;
}

.styled-list li:before {
    content: "\f26f";
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    margin-right: 15px;
    font-size: 18px;
    margin-top: 0px;
    vertical-align: middle;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.top-5 {
    top: 0;
}

.right-5 {
    right: 0;
}

.bottom-5 {
    bottom: 0;
}

.left-5 {
    left: 0;
}

.top-10 {
    top: 0;
}

.right-10 {
    right: 0;
}

.bottom-10 {
    bottom: 0;
}

.left-10 {
    left: 0;
}

.top-15 {
    top: 0;
}

.right-15 {
    right: 0;
}

.bottom-15 {
    bottom: 0;
}

.left-15 {
    left: 0;
}

.top-20 {
    top: 0;
}

.right-20 {
    right: 0;
}

.bottom-20 {
    bottom: 0;
}

.left-20 {
    left: 0;
}

.top-25 {
    top: 0;
}

.right-25 {
    right: 0;
}

.bottom-25 {
    bottom: 0;
}

.left-25 {
    left: 0;
}

.top-30 {
    top: 0;
}

.right-30 {
    right: 0;
}

.bottom-30 {
    bottom: 0;
}

.left-30 {
    left: 0;
}

.top-35 {
    top: 0;
}

.right-35 {
    right: 0;
}

.bottom-35 {
    bottom: 0;
}

.left-35 {
    left: 0;
}

.top-40 {
    top: 0;
}

.right-40 {
    right: 0;
}

.bottom-40 {
    bottom: 0;
}

.left-40 {
    left: 0;
}

.lh-10 {
    line-height: 1;
}

.lh-12 {
    line-height: 1.2;
}

.lh-14 {
    line-height: 1.4;
}

.lh-16 {
    line-height: 1.6;
}

.lh-18 {
    line-height: 1.8;
}

.lh-20 {
    line-height: 2;
}

.lh-22 {
    line-height: 2.2;
}

.lh-24 {
    line-height: 2.4;
}

.lh-26 {
    line-height: 2.6;
}

.lh-28 {
    line-height: 2.8;
}

.lh-30 {
    line-height: 3;
}

.zindex--1 {
    z-index: -1;
}

.zindex-0 {
    z-index: 0;
}

.zindex-1 {
    z-index: 1;
}

.zindex-2 {
    z-index: 2;
}

.zindex-99 {
    z-index: 99;
}

.zindex-999 {
    z-index: 999;
}

.zindex-9999 {
    z-index: 9999;
}

.overlay-bg-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.overlay-bg-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.overlay-bg-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.overlay-bg-4 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.overlay-bg-5 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.overlay-bg-6 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.overlay-bg-7 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.overlay-bg-8 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.overlay-bg-9 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

.opacity-5 {
    opacity: 0.05;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-15 {
    opacity: 0.15;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-25 {
    opacity: 0.25;
}

.opacity-30 {
    opacity: 0.3;
}

.opacity-35 {
    opacity: 0.35;
}

.opacity-40 {
    opacity: 0.4;
}

.opacity-45 {
    opacity: 0.45;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-55 {
    opacity: 0.55;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-65 {
    opacity: 0.65;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-75 {
    opacity: 0.75;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-85 {
    opacity: 0.85;
}

.opacity-90 {
    opacity: 0.9;
}

.opacity-95 {
    opacity: 0.95;
}

.opacity-100 {
    opacity: 1;
}

.circle {
    border-radius: 999px;
}