/*-------------------------------------------------*/
/* NAVIGATION
/*-------------------------------------------------*/

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: relative;
    z-index: 99;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(20, 20, 20, 0.05);
            box-shadow: 0px 3px 6px 0px rgba(20, 20, 20, 0.05);
}
.navigation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 100%;
    margin: 0 -20px;
}
.navigation-mobile .navigation-wrapper {
    display: block;
}

.navigation-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0 20px;
}
.navigation-mobile .navigation-header {
    height: 50px;
}
.navigation-canvas-header {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: relative;
    background-color: #fff;
}
.navigation-mobile .navigation-canvas-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(20, 20, 20, 0.08);
            box-shadow: 0px 1px 0px 0px rgba(20, 20, 20, 0.08);
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    z-index: 9999;
    -webkit-transition: 400ms all linear;
    transition: 400ms all linear;
}
.navigation-canvas-open .navigation-canvas-header {
    left: 0;
}

.navigation-logo {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    opacity: 1;
    -webkit-transition: 400ms all linear;
    transition: 400ms all linear;
}
.navigation-canvas-open .navigation-logo {
    opacity: 0;
}
.navigation-canvas-open .navigation-canvas-header .navigation-logo {
    opacity: 1;
}
.navigation-logo img {
    display: block;
}

.navigation-toggle {
    display: none;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 28px;
    height: 28px;
    overflow: hidden;
    cursor: pointer;
}
.navigation-mobile .navigation-toggle {
    display: block;
}
.navigation-toggle .toggle-inner:after,
.navigation-toggle .toggle-inner:before {
    display: block;
    content: "";
}
.navigation-toggle .toggle-inner,
.navigation-toggle .toggle-inner:after,
.navigation-toggle .toggle-inner:before {
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    border-radius: 2px;
    background-color: #000;
}
.navigation-toggle .toggle-inner {
    top: 50%;
    display: block;
    margin-top: -1px;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition-duration: .22s;
            transition-duration: .22s
}
.navigation-toggle .toggle-inner:before {
    top: -8px;
    -webkit-transition: top .1s ease-in .25s, opacity .1s ease-in;
    transition: top .1s ease-in .25s, opacity .1s ease-in
}
.navigation-toggle .toggle-inner:after {
    bottom: -8px;
    -webkit-transition: bottom .1s ease-in .25s, -webkit-transform .22s ease-in;
    transition: bottom .1s ease-in .25s, -webkit-transform .22s ease-in;
    transition: bottom .1s ease-in .25s, transform .22s ease-in;
    transition: bottom .1s ease-in .25s, transform .22s ease-in, -webkit-transform .22s ease-in
}
.navigation-canvas-open .navigation-canvas-header .toggle-inner,
.navigation-toggle.is-active .toggle-inner {
    -webkit-transition-delay: .42s;
            transition-delay: .42s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg)
}
.navigation-canvas-open .navigation-canvas-header .toggle-inner:before,
.navigation-toggle.is-active .toggle-inner:before {
    top: 0;
    -webkit-transition: top .2s ease-out .4s, opacity .2s ease-out .52s;
    transition: top .2s ease-out .4s, opacity .2s ease-out .52s;
    opacity: 0
}
.navigation-canvas-open .navigation-canvas-header .toggle-inner:after,
.navigation-toggle.is-active .toggle-inner:after {
    bottom: 0;
    -webkit-transition: bottom .2s ease-out .4s, -webkit-transform .32s ease-out .52s;
    transition: bottom .2s ease-out .4s, -webkit-transform .32s ease-out .52s;
    transition: bottom .2s ease-out .4s, transform .32s ease-out .52s;
    transition: bottom .2s ease-out .4s, transform .32s ease-out .52s, -webkit-transform .32s ease-out .52s;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg)
}
.navigation-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0 20px;
    margin: 0 -15px;
}
.navigation-mobile .navigation-menu-wrapper {
    display: block;
    width: 280px;
    height: 100%;
    top: 50px;
    left: -280px;
    position: fixed;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: 400ms all linear;
    transition: 400ms all linear;
    padding: 10px 2px;
    margin: 0;
}
.navigation-overlay {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 998;
    opacity: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
}
.navigation-canvas-open .navigation-menu-wrapper {
    left: 0;
}
.navigation-canvas-open .navigation-overlay {
    display: block;
    opacity: 1;
}

.navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    list-style: none;
    margin: 0 -15px;
    padding-right: 15px;
    padding-left: 15px;
}
.navigation-mobile .navigation-menu {
    display: block;
    margin: 0;
    padding: 0;
}

.navigation:not(.navigation-mobile) .align-left {
    margin-right: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
}
.navigation:not(.navigation-mobile) .align-right {
    margin-left: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
}
.navigation:not(.navigation-mobile) .align-center {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
}
.navigation.navigation-mobile .align-mobile-left {
    margin-right: auto;
}
.navigation.navigation-mobile .align-mobile-right {
    margin-left: auto;
}
.navigation.navigation-mobile .align-mobile-center {
    margin-left: auto;
    margin-right: auto;
}

.navigation-menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.navigation-mobile .navigation-menu > li {
    display: block;
}
.navigation-menu a {
    display: block;
    position: relative;
    white-space: nowrap;
    width: 100%;
}
.navigation-menu a.has-child {
    display: block;
    position: relative;
    white-space: nowrap;
    width: 100%;
}
.navigation-menu .navigation-btn {
    margin-top: 0;
}
.navigation-menu > li > a:not(.navigation-btn) {
    padding-right: 15px;
    padding-left: 15px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.navigation-mobile .navigation-menu > li > a:not(.navigation-btn) {
    padding-right: 20px;
    padding-left: 20px;
}
.navigation-mobile  .navigation-menu a:not(.navigation-btn) {
    height: 44px;
    line-height: 44px;
    text-align: left;
}
.navigation-menu a:not(.navigation-btn) {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #222;
}
.navigation-menu ul {
    display: none;
    position: absolute;
    background: #fff;
    left: 0;
    min-width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 98;
    top: 100%;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(20, 20, 20, 0.05);
            box-shadow: 0px 3px 6px 0px rgba(20, 20, 20, 0.05);
}
.navigation-mobile .navigation-menu ul {
    position: relative;
    background-color: rgba(0, 0, 0, 0.03);
    left: auto;
    top: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.navigation-menu ul li {
    display: block;
    position: relative;
}
.navigation-menu ul a {
    height: 42px;
    line-height: 42px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}
.navigation-menu ul a:hover,
.navigation-mobile .navigation-menu a:hover {
    background-color: rgba(0,0,0,.05);
}
.navigation-mobile .navigation-menu ul a {
    color: rgba(0,0,0,.54);
}
.navigation-menu ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 99;
    text-transform: unset !important;
}
.navigation-mobile .navigation-menu ul a {
    padding-left: 40px;
}
.navigation-mobile .navigation-menu ul ul a {
    padding-left: 65px;
}
.navigation-mobile .navigation-menu ul ul ul a {
    padding-left: 80px;
}
.navigation-btn-wrapper {
    padding: 0 15px;
}
.navigation-mobile .navigation-btn-wrapper {
    padding: 15px;
}
.submenu-button {
    position: relative;
    display: inline-block;
    height: 6px;
    width: 6px;
    top: -3px;
    right: auto;
    margin-left: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
    vertical-align: middle;
}
.navigation-menu ul .submenu-button {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
}
.navigation-mobile .submenu-button,
.navigation-mobile ul .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 42px;
    cursor: pointer;
    -webkit-transform: none;
            transform: none;
    border: 0;
    margin: 0;
}
.navigation-mobile .submenu-button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    display: block;
    background: #bcc6d3;
    content: '';
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.navigation-mobile .submenu-button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 2px;
    height: 10px;
    background: #bcc6d3;
    content: '';
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.navigation-mobile .submenu-button.submenu-opened:before {
    display: none;
}